<!DOCTYPE html>
<html>
{% load website_info %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% show_website_info "website_name" %} - 首页</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <script src="/static/js/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<!--<div id="header">-->
    <!--<span id="name">{% show_website_info "website_name_shortcut" %}</span>-->
    <!--<a href="/problems/">题目</a>&nbsp;&nbsp;-->
    <!--<a href="/submissions/">提交</a>&nbsp;&nbsp;-->
    <!--<a href="/contests/">比赛</a>&nbsp;&nbsp;-->
    <!--<a href="/groups/">小组</a>&nbsp;&nbsp;-->
    <!--<a href="/about/">关于</a>-->

    <!--{% if not request.user.is_authenticated %}-->
        <!--<div id="login">-->
            <!--<a href="/login/" class="login button">登录</a>-->
            <!--<a href="/register/" class="register button">注册</a>-->
        <!--</div>-->
    <!--{% endif %}-->

<!--</div>-->
<div class="nav navbar-inverse">

        <ul class="nav nav-pills pull-left">
            <li><a href="/problems/">首页</a></li>
            <li><a href="/problems">题库</a></li>
            <li><a href="/submissions">评测状态</a></li>
            <li><a href="/problems">排名</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    比赛 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/contests">标准竞赛</a></li>
                    <li><a href="/contests">虚拟竞赛</a></li>
                    <li><a href="/contests">近期竞赛</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="/groups">小组</a></li>
        </ul>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>ACM国际大学生程序设计竞赛（英文全称：ACM International Collegiate Programming Contest（简称ACM-ICPC或ICPC））
            是由美国计算机协会（ACM）主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、
            分析和解决问题能力的年度竞赛。经过近40年的发展，ACM国际大学生程序设计竞赛已经发展成为全球最具影响力的大学生程序设计竞赛。</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">About</a></p>
    </div>
</div>

<div class="alert alert-info" role="alert" style="text-align: center">Coding the world with us  :)</div>
</body>
</html>
