<!DOCTYPE html>
<html>
{% load website_info %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% show_website_info "website_name" %} - 首页</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <link rel="stylesheet" href="/static/src/css/bootstrap.min.css" />
    <script src="/static/js/lib/jquery/jquery.js"></script>
    <script src="/static/src/js/bootstrap.min.js"></script>


</head>
<body>
<!--<div id="header">-->
    <!--<span id="name">{% show_website_info "website_name_shortcut" %}</span>-->
    <!--<a href="/problems/">题目</a>&nbsp;&nbsp;-->
    <!--<a href="/submissions/">提交</a>&nbsp;&nbsp;-->
    <!--<a href="/contests/">比赛</a>&nbsp;&nbsp;-->
    <!--<a href="/groups/">小组</a>&nbsp;&nbsp;-->
    <!--<a href="/about/">关于</a>-->

    <!--{% if not request.user.is_authenticated %}-->
        <!--<div id="login">-->
            <!--<a href="/login/" class="login button">登录</a>-->
            <!--<a href="/register/" class="register button">注册</a>-->
        <!--</div>-->
    <!--{% endif %}-->

<!--</div>-->
<div class="nav navbar-inverse">
        <div class="container-fluid pull-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="glyphicon glyphicon-heart"></i>
                </a>
            </div>
        </div>

        <ul class="nav nav-pills pull-left">
            <li><a href="/problems/">首页</a></li>
            <li><a href="/problems">题库</a></li>
            <li><a href="/submissions">评测状态</a></li>
            <li><a href="/problems">排名</a></li>
            <!--<li class="dropdown">-->
                <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                    <!--比赛-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                    <!--<li><a href="/contests">标准竞赛</a></li>-->
                    <!--<li><a href="/contests">虚拟竞赛</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    比赛 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/contests">标准竞赛</a></li>
                    <li><a href="/contests">虚拟竞赛</a></li>
                </ul>
            </li>

            <li role="presentation"><a href="/groups">小组</a></li>
            <li role="presentation"><a href="/about">关于</a></li>
            <!--<li class="nav-ranklist"><a href="/OnlineJudge/ranklist">排名</a></li>-->
        </ul>
</div>
</body>
</html>
